In [20]:
import pandas as pd

In [21]:
hi_file = "../Data/health_insurance(2017-2018).csv"
hi_df = pd.read_csv(hi_file)
hi_df

,Age Category,Income Category,Race Category,Sex Category,Year,ID,Name,Demographic Group: Number,Demographic Group: MOE,Uninsured: Number,Uninsured: MOE,Uninsured: %,Uninsured: %MOE,Insured: Number,Insured: MOE,Insured: %,Insured: %MOE
0,Under 65 years,All Incomes,All Races,Both Sexes,2018,1000,Alabama,"3,955,117",0,"470,052","13,365",11.9,0.3,"3,485,065","13,365",88.1,0.3
1,Under 65 years,All Incomes,All Races,Both Sexes,2017,1000,Alabama,"3,966,117",0,"438,049","12,783",11.0,0.3,"3,528,068","12,783",89.0,0.3
2,Under 65 years,All Incomes,All Races,Both Sexes,2018,2000,Alaska,"636,220",0,"88,519","4,180",13.9,0.7,"547,701","4,180",86.1,0.7
3,Under 65 years,All Incomes,All Races,Both Sexes,2017,2000,Alaska,"641,885",0,"94,727","4,233",14.8,0.7,"547,158","4,233",85.2,0.7
4,Under 65 years,All Incomes,All Races,Both Sexes,2018,4000,Arizona,"5,762,826",0,"737,852","18,415",12.8,0.3,"5,024,974","18,415",87.2,0.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,Under 65 years,All Incomes,All Races,Both Sexes,2017,54000,West Virginia,"1,421,917",0,"106,784","6,270",7.5,0.4,"1,315,133","6,270",92.5,0.4
98,Under 65 years,All Incomes,All Races,Both Sexes,2018,55000,Wisconsin,"4,711,080",0,"306,773","9,134",6.5,0.2,"4,404,307","9,134",93.5,0.2
99,Under 65 years,All Incomes,All Races,Both Sexes,2017,55000,Wisconsin,"4,724,670",0,"303,172","9,102",6.4,0.2,"4,421,498","9,102",93.6,0.2
100,Under 65 years,All Incomes,All Races,Both Sexes,2018,56000,Wyoming,"471,748",0,"58,689","4,065",12.4,0.9,"413,059","4,065",87.6,0.9
101,Under 65 years,All Incomes,All Races,Both Sexes,2017,56000,Wyoming,"477,391",0,"67,560","4,166",14.2,0.9,"409,831","4,166",85.8,0.9

In [22]:
hi_2018_df = hi_df.drop_duplicates("Name", keep="first")
hi_2018_df = hi_2018_df.reset_index(drop=True)
hi_2018_df

,Age Category,Income Category,Race Category,Sex Category,Year,ID,Name,Demographic Group: Number,Demographic Group: MOE,Uninsured: Number,Uninsured: MOE,Uninsured: %,Uninsured: %MOE,Insured: Number,Insured: MOE,Insured: %,Insured: %MOE
0,Under 65 years,All Incomes,All Races,Both Sexes,2018,1000,Alabama,"3,955,117",0,"470,052","13,365",11.9,0.3,"3,485,065","13,365",88.1,0.3
1,Under 65 years,All Incomes,All Races,Both Sexes,2018,2000,Alaska,"636,220",0,"88,519","4,180",13.9,0.7,"547,701","4,180",86.1,0.7
2,Under 65 years,All Incomes,All Races,Both Sexes,2018,4000,Arizona,"5,762,826",0,"737,852","18,415",12.8,0.3,"5,024,974","18,415",87.2,0.3
3,Under 65 years,All Incomes,All Races,Both Sexes,2018,5000,Arkansas,"2,428,706",0,"233,441","9,240",9.6,0.4,"2,195,265","9,240",90.4,0.4
4,Under 65 years,All Incomes,All Races,Both Sexes,2018,6000,California,"33,237,743",0,"2,772,644","40,302",8.3,0.1,"30,465,099","40,302",91.7,0.1
5,Under 65 years,All Incomes,All Races,Both Sexes,2018,8000,Colorado,"4,783,685",0,"419,456","13,441",8.8,0.3,"4,364,229","13,441",91.2,0.3
6,Under 65 years,All Incomes,All Races,Both Sexes,2018,9000,Connecticut,"2,875,851",0,"178,690","8,376",6.2,0.3,"2,697,161","8,376",93.8,0.3
7,Under 65 years,All Incomes,All Races,Both Sexes,2018,10000,Delaware,"763,869",0,"51,804","4,246",6.8,0.6,"712,065","4,246",93.2,0.6
8,Under 65 years,All Incomes,All Races,Both Sexes,2018,11000,District of Columbia,"584,255",0,"20,753","2,900",3.6,0.5,"563,502","2,900",96.4,0.5
9,Under 65 years,All Incomes,All Races,Both Sexes,2018,12000,Florida,"16,563,259",0,"2,673,659","39,262",16.1,0.2,"13,889,600","39,262",83.9,0.2
10,Under 65 years,All Incomes,All Races,Both Sexes,2018,13000,Georgia,"8,796,335",0,"1,398,968","26,573",15.9,0.3,"7,397,367","26,573",84.1,0.3
11,Under 65 years,All Incomes,All Races,Both Sexes,2018,15000,Hawaii,"1,130,682",0,"53,377","4,182",4.7,0.4,"1,077,305","4,182",95.3,0.4
12,Under 65 years,All Incomes,All Races,Both Sexes,2018,16000,Idaho,"1,450,060",0,"190,472","8,049",13.1,0.6,"1,259,588","8,049",86.9,0.6
13,Under 65 years,All Incomes,All Races,Both Sexes,2018,17000,Illinois,"10,515,610",0,"853,809","19,032",8.1,0.2,"9,661,801","19,032",91.9,0.2
14,Under 65 years,All Incomes,All Races,Both Sexes,2018,18000,Indiana,"5,474,844",0,"532,695","14,597",9.7,0.3,"4,942,149","14,597",90.3,0.3
15,Under 65 years,All Incomes,All Races,Both Sexes,2018,19000,Iowa,"2,541,620",0,"142,584","6,166",5.6,0.2,"2,399,036","6,166",94.4,0.2
16,Under 65 years,All Incomes,All Races,Both Sexes,2018,20000,Kansas,"2,386,672",0,"241,000","8,313",10.1,0.3,"2,145,672","8,313",89.9,0.3
17,Under 65 years,All Incomes,All Races,Both Sexes,2018,21000,Kentucky,"3,623,040",0,"241,947","9,647",6.7,0.3,"3,381,093","9,647",93.3,0.3
18,Under 65 years,All Incomes,All Races,Both Sexes,2018,22000,Louisiana,"3,821,943",0,"354,948","12,394",9.3,0.3,"3,466,995","12,394",90.7,0.3
19,Under 65 years,All Incomes,All Races,Both Sexes,2018,23000,Maine,"1,036,551",0,"106,052","5,332",10.2,0.5,"930,499","5,332",89.8,0.5
20,Under 65 years,All Incomes,All Races,Both Sexes,2018,24000,Maryland,"4,994,086",0,"346,367","12,019",6.9,0.2,"4,647,719","12,019",93.1,0.2
21,Under 65 years,All Incomes,All Races,Both Sexes,2018,25000,Massachusetts,"5,572,215",0,"182,533","9,198",3.3,0.2,"5,389,682","9,198",96.7,0.2
22,Under 65 years,All Incomes,All Races,Both Sexes,2018,26000,Michigan,"8,098,356",0,"526,541","13,643",6.5,0.2,"7,571,815","13,643",93.5,0.2
23,Under 65 years,All Incomes,All Races,Both Sexes,2018,27000,Minnesota,"4,636,753",0,"238,150","7,787",5.1,0.2,"4,398,603","7,787",94.9,0.2
24,Under 65 years,All Incomes,All Races,Both Sexes,2018,28000,Mississippi,"2,419,139",0,"349,341","11,954",14.4,0.5,"2,069,798","11,954",85.6,0.5
25,Under 65 years,All Incomes,All Races,Both Sexes,2018,29000,Missouri,"4,949,513",0,"562,414","14,277",11.4,0.3,"4,387,099","14,277",88.6,0.3
26,Under 65 years,All Incomes,All Races,Both Sexes,2018,30000,Montana,"844,114",0,"86,396","4,807",10.2,0.6,"757,718","4,807",89.8,0.6
27,Under 65 years,All Incomes,All Races,Both Sexes,2018,31000,Nebraska,"1,584,700",0,"149,728","6,000",9.4,0.4,"1,434,972","6,000",90.6,0.4
28,Under 65 years,All Incomes,All Races,Both Sexes,2018,32000,Nevada,"2,519,349",0,"326,024","11,262",12.9,0.4,"2,193,325","11,262",87.1,0.4
29,Under 65 years,All Incomes,All Races,Both Sexes,2018,33000,New Hampshire,"1,079,054",0,"76,244","4,841",7.1,0.4,"1,002,810","4,841",92.9,0.4
30,Under 65 years,All Incomes,All Races,Both Sexes,2018,34000,New Jersey,"7,345,620",0,"642,184","17,294",8.7,0.2,"6,703,436","17,294",91.3,0.2
31,Under 65 years,All Incomes,All Races,Both Sexes,2018,35000,New Mexico,"1,690,322",0,"194,630","8,467",11.5,0.5,"1,495,692","8,467",88.5,0.5
32,Under 65 years,All Incomes,All Races,Both Sexes,2018,36000,New York,"15,916,879",0,"1,007,242","22,116",6.3,0.1,"14,909,637","22,116",93.7,0.1
33,Under 65 years,All Incomes,All Races,Both Sexes,2018,37000,North Carolina,"8,450,311",0,"1,076,670","21,788",12.7,0.3,"7,373,641","21,788",87.3,0.3
34,Under 65 years,All Incomes,All Races,Both Sexes,2018,38000,North Dakota,"626,483",0,"50,455","3,361",8.1,0.5,"576,028","3,361",91.9,0.5
35,Under 65 years,All Incomes,All Races,Both Sexes,2018,39000,Ohio,"9,443,414",0,"729,559","17,459",7.7,0.2,"8,713,855","17,459",92.3,0.2
36,Under 65 years,All Incomes,All Races,Both Sexes,2018,40000,Oklahoma,"3,227,991",0,"536,856","11,292",16.6,0.3,"2,691,135","11,292",83.4,0.3
37,Under 65 years,All Incomes,All Races,Both Sexes,2018,41000,Oregon,"3,387,887",0,"285,855","10,858",8.4,0.3,"3,102,032","10,858",91.6,0.3
38,Under 65 years,All Incomes,All Races,Both Sexes,2018,42000,Pennsylvania,"10,149,290",0,"681,152","16,152",6.7,0.2,"9,468,138","16,152",93.3,0.2
39,Under 65 years,All Incomes,All Races,Both Sexes,2018,44000,Rhode Island,"842,760",0,"40,378","4,007",4.8,0.5,"802,382","4,007",95.2,0.5
40,Under 65 years,All Incomes,All Races,Both Sexes,2018,45000,South Carolina,"4,054,553",0,"515,001","14,616",12.7,0.4,"3,539,552","14,616",87.3,0.4
41,Under 65 years,All Incomes,All Races,Both Sexes,2018,46000,South Dakota,"713,495",0,"80,090","3,959",11.2,0.6,"633,405","3,959",88.8,0.6
42,Under 65 years,All Incomes,All Races,Both Sexes,2018,47000,Tennessee,"5,522,053",0,"662,260","16,728",12.0,0.3,"4,859,793","16,728",88.0,0.3
43,Under 65 years,All Incomes,All Races,Both Sexes,2018,48000,Texas,"24,519,083",0,"4,883,741","55,829",19.9,0.2,"19,635,342","55,829",80.1,0.2
44,Under 65 years,All Incomes,All Races,Both Sexes,2018,49000,Utah,"2,771,212",0,"288,573","10,372",10.4,0.4,"2,482,639","10,372",89.6,0.4
45,Under 65 years,All Incomes,All Races,Both Sexes,2018,50000,Vermont,"484,423",0,"23,522","2,253",4.9,0.5,"460,901","2,253",95.1,0.5
46,Under 65 years,All Incomes,All Races,Both Sexes,2018,51000,Virginia,"6,981,520",0,"705,225","17,319",10.1,0.2,"6,276,295","17,319",89.9,0.2
47,Under 65 years,All Incomes,All Races,Both Sexes,2018,53000,Washington,"6,267,086",0,"469,557","13,769",7.5,0.2,"5,797,529","13,769",92.5,0.2
48,Under 65 years,All Incomes,All Races,Both Sexes,2018,54000,West Virginia,"1,403,338",0,"109,457","6,529",7.8,0.5,"1,293,881","6,529",92.2,0.5
49,Under 65 years,All Incomes,All Races,Both Sexes,2018,55000,Wisconsin,"4,711,080",0,"306,773","9,134",6.5,0.2,"4,404,307","9,134",93.5,0.2
50,Under 65 years,All Incomes,All Races,Both Sexes,2018,56000,Wyoming,"471,748",0,"58,689","4,065",12.4,0.9,"413,059","4,065",87.6,0.9

In [23]:
hi_2017_df = hi_df.drop_duplicates("Name", keep="last")
hi_2017_df = hi_2017_df.reset_index(drop=True)
hi_2017_df.head()

,Age Category,Income Category,Race Category,Sex Category,Year,ID,Name,Demographic Group: Number,Demographic Group: MOE,Uninsured: Number,Uninsured: MOE,Uninsured: %,Uninsured: %MOE,Insured: Number,Insured: MOE,Insured: %,Insured: %MOE
0,Under 65 years,All Incomes,All Races,Both Sexes,2017,1000,Alabama,"3,966,117",0,"438,049","12,783",11.0,0.3,"3,528,068","12,783",89.0,0.3
1,Under 65 years,All Incomes,All Races,Both Sexes,2017,2000,Alaska,"641,885",0,"94,727","4,233",14.8,0.7,"547,158","4,233",85.2,0.7
2,Under 65 years,All Incomes,All Races,Both Sexes,2017,4000,Arizona,"5,668,172",0,"685,974","17,474",12.1,0.3,"4,982,198","17,474",87.9,0.3
3,Under 65 years,All Incomes,All Races,Both Sexes,2017,5000,Arkansas,"2,431,178",0,"226,179","9,182",9.3,0.4,"2,204,999","9,182",90.7,0.4
4,Under 65 years,All Incomes,All Races,Both Sexes,2017,6000,California,"33,386,271",0,"2,740,078","39,245",8.2,0.1,"30,646,193","39,245",91.8,0.1

In [26]:
hi_2018_reduced_df = hi_2018_df[["Name","Uninsured: %"]]
hi_2017_reduced_df = hi_2017_df[["Name","Uninsured: %"]]
hi_combined_df = pd.merge(hi_2017_reduced_df,hi_2018_reduced_df, on="Name", suffixes=(' 2017',' 2018'))
hi_combined_df.head()

         Name  Uninsured: % 2017  Uninsured: % 2018
0     Alabama               11.0               11.9
1      Alaska               14.8               13.9
2     Arizona               12.1               12.8
3    Arkansas                9.3                9.6
4  California                8.2                8.3

In [27]:
hi_final_df = hi_combined_df.rename(columns={"Name":"State","Uninsured:% 2017":"2017_uninsured(%)","Uninsured:% 2018":"2018_uninsured(%)"})
hi_final_df.head()

        State  Uninsured: % 2017  Uninsured: % 2018
0     Alabama               11.0               11.9
1      Alaska               14.8               13.9
2     Arizona               12.1               12.8
3    Arkansas                9.3                9.6
4  California                8.2                8.3